<h1> <%= @player1_name %> vs <%= @player2_name %> </h1>

<%= @player1_name %>'s HP: <%= @player1_hp %>
<p>
<%= @player2_name %>'s HP: <%= @player2_hp %>

<%if @player1_turn %>
  <form action='/attack' method='post'>
  <button type='submit'>Attack Player 2</button>
  </form>
<%end%>

<%if @player2_turn %>
  <form action='/attack' method='post'>
  <button type='submit'>Attack Player 1</button>
  </form>
<%end%>

<% if @player1_turn && @player1_hp < 100%>
<%= @player2_name %> has attacked <%= @player1_name %>
<% end %>

<% if @player2_turn %>
<%= @player1_name %> has attacked <%= @player2_name %>
<% end %>

<%if @player1.looses? %>
  <%= @player1_name %> Looses!!
<% end %>
<p>
<%if @player2.looses? %>
  <%= @player2_name %> Looses!!
<% end %>
